
@{
    ViewBag.Title = "Adminsion";
}
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"> @Html.ActionLink("Add Account", "Index", "Adminsion", new { id = "100" }, null)</li>
                <li class="breadcrumb-item">@Html.ActionLink("Import File Excel", "ImportFile", "Adminsion", new { id = "200" }, null) </li>
            </ol>
            <h6 class="slim-pagetitle">New Study-program</h6>
        </div><!-- slim-pageheader -->
    </div>
    <div class="section-wrapper">
        <div class="row mg-b-20">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">Courses name: <span class="tx-danger">*Required</span></label>
                    <input class="form-control" type="text" name="firstname" placeholder="Input new Course name">
                </div>
            </div><!-- col-4 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-control-label">
                        Select Branch: <span class="tx-danger">*</span>
                    </label>
                    <select class="form-control select2" data-placeholder="Choose one" data-parsley-class-handler="#slWrapper" data-parsley-errors-container="#slErrorContainer" required>
                        <option label="Chọn"></option>
                        <option value="APTECH HA NOI">APTECH HA NOI</option>
                    </select>
                </div>
            </div><!-- col-4 -->
        </div>
        <div class="row row-xs">
            <div class="col-sm-6 col-lg-3">
                <div class="card card-status">
                    <div class="media">
                        <div class="media-body">
                            <h1>2,942</h1>
                            <p>Total analytics</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
                <div class="card card-status">
                    <div class="media">
                        <div class="media-body">
                            <h1>2,942</h1>
                            <p>Total analytics</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <div class="media-body">
                            <h1>2,942</h1>
                            <p>Total analytics</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
                <div class="card card-status">
                    <div class="media">
                        <div class="media-body">
                            <h1>2,942</h1>
                            <p>Total analytics</p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card -->
            </div><!-- col-3 -->
            <div class="col-md-8">
                <div class="form-group">
                    <label class="ckbox">
                        <input type="checkbox"><span>Xác Nhận Thông Tin</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pd-x-20">Submit</button>
                </div><!-- col-4 -->
            </div>
        </div><!-- row -->
    </div>
</div>