
@{
    ViewBag.Title = "Index";
}

<div class="section-wrapper">
    <label class="section-title">Required Input Validation</label>
    <p class="mg-b-20 mg-sm-b-40">This is a demo of a required field that must not leave empty.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-control-label">Class Room: <span class="tx-danger">*</span></label>
                <input class="form-control" type="text" placeholder="Name">
            </div>
            <div class="form-group">
                <label class="form-control-label">Address: <span class="tx-danger">*</span></label>
                <textarea rows="2" class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label class="ckbox">
                    <input type="checkbox"><span>Chenkbox</span>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pd-x-20">Button</button>
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group">
               
            </div>
        </div>
    </div>
</div><!-- section-wrapper -->
