<div class="slim-sidebar">
    <label class="sidebar-label">Navigation</label>
    <ul class="nav nav-sidebar">
        <li class="sidebar-nav-item">
            <a href="@Url.Action( "Index", "Dashboard")" class="sidebar-nav-link">
                <i class="icon ion-ios-home-outline"></i> Dashboard
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="page-messages.html" class="sidebar-nav-link"><i class="icon ion-ios-chatboxes-outline"></i> Messages</a>
        </li>
        <li class="sidebar-nav-item">
            <a href="widgets.html" class="sidebar-nav-link"><i class="icon ion-ios-lightbulb-outline"></i> Widgets</a>
        </li>
    </ul>
</div>
