
@{
    ViewBag.Title = "Index";
}

<div class="section-wrapper">
    <label style="font-size: 30px;color: #6c757d; font-weight: 900;">Student</label>
    <button class="btn btn-oblong btn-secondary btn-block mg-b-10" style="width: 150px;float:right;"><i class="icon ion-person-add"></i> Add student</button>

    <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-15p">ID student</th>
                    <th class="wd-15p">Name</th>
                    <th class="wd-20p">Email</th>
                    <th class="wd-15p">Option</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ashton</td>
                    <td>Cox</td>
                    <td>Junior Technical Author</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-warning"><i class="icon ion-compose"></i> edit</button>
                            <button type="button" class="btn btn-outline-danger"><i class="icon ion-trash-a"></i> delete</button>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Tiger</td>
                    <td>Nixon</td>
                    <td>System Architect</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Garrett</td>
                    <td>Winters</td>
                    <td>Accountant</td>
                    <td></td>

                </tr>

                <tr>
                    <td>Cedric</td>
                    <td>Kelly</td>
                    <td>Senior Javascript Developer</td>
                    <td></td>

                </tr>
                <tr>
                    <td>Airi</td>
                    <td>Satou</td>
                    <td>Accountant</td>
                    <td></td>

                </tr>


            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div>

