
@{
    ViewBag.Title = "Index";
}
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
            <h6 class="slim-pagetitle">My Profile</h6>
        </div><!-- slim-pageheader -->
        <div class="row row-sm">
            <div class="col-lg-8">
                <div class="card card-profile">
                    <div class="card-body">
                        <div class="media">
                            <img src="https://intomau.com/Content/upload/images/quynh-aka-dieu.jpg" alt="">
                            <div class="media-body">
                                <h3 class="card-profile-name">Dương Quỳnh Anh - TH2008052</h3>
                                <p class="card-profile-position">Sinh Viên <a href="https://aptech.fpt.edu.vn/">FPT APTECH</a></p>
                                <p>8 Tôn Thất Thuyết , Mỹ Đình , Hà Nội</p>
                                <p class="mg-b-0">Xin chào mọi người...<a href="">Read more</a></p>
                            </div><!-- media-body -->
                        </div><!-- media -->
                    </div><!-- card-body -->
                    <div class="card-footer">
                        <a href="" class="card-profile-direct"></a>
                        <div>
                            <a href="">Edit Profile</a>
                            <a href="">Profile Settings</a>
                        </div>
                    </div><!-- card-footer -->
                </div><!-- card -->

            </div><!-- col-8 -->

        </div><!-- row -->
    </div>
</div>


